@model UserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutBase";
}



<!--  dashboard section start -->
<section class="dashboard-section section-b-space user-dashboard-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="dashboard-sidebar">
                    <div class="profile-top">
                        <div class="profile-image">
                            <img src="@Model.ProfilePicUrl" alt="" class="img-fluid">
                        </div>
                        <div class="profile-detail">
                            <h5>@Model.Name</h5>
                            <h6>@Model.Email</h6>
                        </div>
                    </div>
                    <div class="faq-tab">
                        <ul class="nav nav-tabs" id="top-tab" role="tablist">
                            <li class="nav-item">
                                <a data-bs-toggle="tab" data-bs-target="#info"
                                   class="nav-link active">Hesap Bilgileri</a>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="tab" data-bs-target="#address"
                                   class="nav-link">Adresim</a>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="tab" data-bs-target="#orders"
                                   class="nav-link">Aldıklarım</a>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="tab" data-bs-target="#orders"
                                   class="nav-link">Sattıklarım</a>
                            </li>
                            
                            <li class="nav-item">
                                <a data-bs-toggle="tab" data-bs-target="#profile"
                                   class="nav-link">Satıcı Profili</a>
                            </li>
                            
                            <li class="nav-item"><a href="/Account/Logout" class="nav-link">Çıkış Yap</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="faq-content tab-content" id="top-tabContent">
                    <div class="tab-pane fade show active" id="info">
                        <div class="counter-section">
                            <div class="welcome-msg">
                                <h4>Merhaba, @Model.Name !</h4>
                                <p>
                                    Hesap Kontrol Panelinizden, Bakiye ve hesap aktivitelerinizi görüntüleme, hesap bilgilerinizi güncelleme işlemleri yapabilirsiniz.
                                </p>
                            </div>
                          
                            <div class="box-account box-info">
                                <div class="box-head">
                                    <h4>Hesap Bilgileri</h4>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="box">
                                            <div class="box-title">
                                                <h3>İletişim Bilgileri</h3>
                                            </div>
                                            <div class="box-content">
                                                <h6>@Model.Name @Model.Surname</h6>
                                                <h6>@Model.Email</h6>                                                
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="box-title">
                                                <h3>Şifre Değişikliği</h3>
                                            </div>
                                            <div class="box-content">                                                
                                                <h6><button class="btn btn-solid btn-xs" asp-action="ChangePassword" asp-controller="Account">Değiştir</button></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box mt-3">
                                    <div class="box-title">
                                        <h3>Adresim</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="address">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mt-0">
                                    <div class="card-body">
                                        <div class="top-sec">
                                            <h3>Adresim</h3>
                                            <a href="#" class="btn btn-sm btn-solid">Yeni Ekle</a>
                                        </div>
                                        <div class="address-book-section">
                                            <div class="row g-4">
                                                <div class="select-box active col-xl-4 col-md-6">
                                                    <div class="address-box">
                                                        <div class="top">
                                                            <h6>@Model.Name</h6>
                                                        </div>
                                                        <div class="middle">
                                                            <div class="address">
                                                                <p>@Model.Address</p>

                                                            </div>
                                                            <div class="number">
                                                                <p>Telefon <span>@Model.PhoneNumber</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="bottom">
                                                            <button class="btn btn-solid btn-xs" asp-action="EditAddress" asp-controller="Account" asp-route-id="@Model.Id">Düzenle</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orders">
                        <div class="row">
                            <div class="col-12">
                                <div class="card dashboard-table mt-0">
                                    <div class="card-body table-responsive-sm">
                                        <div class="top-sec">
                                            <h3>Aldıklarım</h3>
                                        </div>
                                        <div class="table-responsive-xl">
                                            <table class="table cart-table order-table">
                                                <thead>
                                                    <tr class="table-head">
                                                        <th scope="col">Sipariş Numarası</th>
                                                        <th scope="col">Ürün Adı</th>
                                                        <th scope="col">Satıcı</th>
                                                        <th scope="col">Fiyat</th>
                                                        <th scope="col">Detay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach(var activity in ViewBag.BuyerActivity)
                                                    {
                                                    <tr>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <img src="../assets/images/pro3/1.jpg"
                                                                     class="blur-up lazyloaded" alt="">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <span class="mt-0">@activity.OrderNumber</span>
                                                        </td>
                                                        <td>
                                                                <span class="fs-6">@activity.ProductTitle</span>
                                                        </td>
                                                        <td>
                                                                <span class="fs-6">@activity.SellerName</span>
                                                                <span class="fs-6">@activity.SellerSurname</span>
                                                        </td>
                                                        <td>
                                                            <span class="theme-color fs-6">@activity.TotalAmount</span>
                                                        </td>
                                                        <td>
                                                                <button asp-action="OrderDetail" asp-controller="Order" asp-route-id="@activity.Id">
                                                                <i class="fa fa-eye text-theme"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orders">
                        <div class="row">
                            <div class="col-12">
                                <div class="card dashboard-table mt-0">
                                    <div class="card-body table-responsive-sm">
                                        <div class="top-sec">
                                            <h3>Sattıklarım</h3>
                                        </div>
                                        <div class="table-responsive-xl">
                                            <table class="table cart-table order-table">
                                                <thead>
                                                    <tr class="table-head">
                                                        <th scope="col">Sipariş Numarası</th>
                                                        <th scope="col">Ürün Adı</th>
                                                        <th scope="col">Satıcı</th>                                       
                                                        <th scope="col">Net Kazanç</th>
                                                        <th scope="col">Detay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var activity in ViewBag.SellerActivity)
                                                    {
                                                        <tr>

                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <img src="../assets/images/pro3/1.jpg"
                                                                         class="blur-up lazyloaded" alt="">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <span class="mt-0">@activity.OrderNumber</span>
                                                            </td>
                                                            <td>
                                                                <span class="fs-6">@activity.ProductTitle</span>
                                                            </td>
                                                            <td>
                                                                <span class="fs-6">@activity.BuyerName</span>
                                                                <span class="fs-6">@activity.BuyerSurname</span>
                                                            </td>
                                                            <td>
                                                                <span class="theme-color fs-6">@activity.NetAmount</span>
                                                            </td>
                                                            <td>
                                                                <button asp-action="OrderDetail" asp-controller="Order" asp-route-id="@activity.Id">
                                                                    <i class="fa fa-eye text-theme"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   


                    
                    <div class="tab-pane fade" id="profile">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mt-0">
                                    <div class="card-body">
                                        <div class="dashboard-box">
                                            <div class="dashboard-title">
                                                <h4>Satıcı Profili</h4>

                                            </div>
                                            <div class="dashboard-detail">
                                                <div class="details">
                                                    <table class="table cart-table wishlist-table">
                                                        <thead>
                                                            <tr class="table-head">
                                                                
                                                                <th scope="col">Bakiye</th>
                                                                <th scope="col">İşlem</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>                                                                
                                                                <td>
                                                                    <span>@Model.Balance</span>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-solid btn-xs" asp-action="Withdraw" asp-controller="Account" asp-route-id="@Model.Id">Para Çek</button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="dashboard-detail">
                                                <div class="details">
                                                    <a asp-action="Create" asp-controller="Product">
                                                        <button type="button"
                                                                class="btn btn-solid btn-xs">
                                                            Yeni Ürün Oluştur
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    </div>
</section>
<!--  dashboard section end -->
<!-- Modal start -->
<div class="modal logout-modal fade" id="logout" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Çıkış Yapılıyor...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Çıkış Yapmak İstiyor Musunuz ?
            </div>
            <div class="modal-footer">
                <a href="/Account/Index" class="btn btn-dark btn-custom" data-bs-dismiss="modal">Hayır</a>
                <a href="/Account/Logout" class="btn btn-solid btn-custom">Evet
                </a>                
            </div>
        </div>
    </div>
</div>
<!-- modal end -->