@using evdekinisatcom.MvcWebApp.Entity.ViewModels;
@model List<OrderActivityViewModel>
@{
    ViewData["Title"] = "UserBuyerActivity";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h1>UserSellerActivity</h1>

@foreach (var activity in Model)
{
    <div>
        <p>@activity.OrderNumber</p>
        <p>@activity.SellerName @activity.SellerSurname</p>
        <p>@activity.BuyerName @activity.BuyerSurname</p>
        <p>@activity.BuyerAddress</p>
        <p>@activity.TotalAmount</p>
        <p>@activity.FeeAmount</p>
        <p>@activity.NetAmount</p>
    </div>
}