@using evdekinisatcom.MvcWebApp_App.Service.ViewModels;
@model List<UserViewModel>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-10 mx-auto">

<h1 class="mb-4">Kullanıcı Listesi</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            
            <th>Ad Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Bakiye</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>                
                <td>@user.Name @user.Surname</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Balance</td>
                <td>
                    <a href="~/Admin/Home/UserBuyerActivity/@user.Id" class="btn btn-info btn-sm">Alıcı</a>
                    <a href="~/Admin/Home/UserSellerActivity/@user.Id" class="btn btn-warning btn-sm">Satıcı</a>
                    <a href="~/Admin/Home/UserSellerActivity/@user.Id" class="btn btn-solid btn-sm">Bakiye</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>